.create-task{
    width: 50%;
    height: 95%;
    background-color: #fff;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    overflow-y: auto;
    .create-task-body{
        padding: 2rem 2rem 0 2rem ;
        .task-input{
            width: 100%;
            margin-bottom: 2rem;
            .MuiFormControl-root{
                width: 100%;
                margin: 0;
            }
            input{
                width: 100%;
                height: 4.7rem;
                font-size: 1.4rem;
                font-weight: 600;
                padding-left: 1rem;
            }
        }
        .task-type-priority,
        .task-time-estimate,
        .task-assign-slider{
            display: flex;
        }

        .task-assign-slider{
            .task-slider{
                .slider-status{
                    display: flex;
                }
            }
        }

        .task-type-priority{
            gap: 1rem;
            .task-priority,
            .task-type{
                width: 50%;
            }
        }

        .task-assign-slider{
            gap: 1rem;
            .task-assign-member,
            .task-slider{
                width: 50%;
            }

            .task-slider{
                .slider-status{
                    justify-content: space-between;
                }
            }
        }

        .task-time-estimate{
            justify-content: space-between;
            .task-original-estimate,
            .time-spent,
            .time-remaining{
                width: 25%;
            }
        }

        .task-description{
            .ck-content.ck-editor__editable{
                max-height: 400px;
            }
        }
    }

    .create-task-footer{
        display: flex;
        justify-content: flex-end;
        gap: 2rem;
        margin-top: 2rem;
        padding: 0 2rem;
        button{
            margin-bottom: 2rem;
            font-size: 1.4rem;
        }
    }

    h4{
        margin-bottom: 1rem;
    }

    .create-task-header{
        padding: 2rem 0 2rem 2rem;
    }
}